@media (max-width: 991.98px) { 
    :root {
        --bg_color: #1C1E53;
        --dark_blue: #282938;
        --royle_blue: #2405F2;
        --Manrope: "Manrope", sans-serif;
        --Poppins: "Poppins", sans-serif;
        --primary_font_color: #282938;
        --primary_font_size: 16px;
        --primary_font_weight: 400;
        --primary_heading_size: 32px;
        --primary_heading_weight: 500;
    }
    .coustomBtn {
        margin-left: 0;
    }
    .coustomNavItem {
        margin-bottom: 8px;
    }
    /* pricing */
    
    .pricingItem {
        height: 565px;

        padding: 19px 30px 0 21px;
    }
    .pricingItem__price {
        font-size: 24px;
    }
    .pricingItem__title {
        font-size: 20px;
        margin-top: 1px !important;
    }
    .pricingItem__summary {
        font-size: 11px;
    }
    .pricingItem__list {
        margin-top: 30px !important;
    }
    .pricingItem-modify {
        margin-top: 5px !important;
        
    }
    .pricingItem__btn {
        font-size: 15px;
        padding: 10px 39px;
        margin-top: 66px;
    }
    .pricingItem__btn-Modify{
        margin-top: 50px;
    }
 }