@media (max-width: 767.98px) {
    .QuestionsLeft_link {
        margin-bottom: 25px;
    }

    /* footerpart */
    .footerRight__title {
        margin-top: 18px;
    }

    .footerSocial {
        padding-bottom: 21px;
    }
}